:markdown

  #### When is the FabJam?

  Fab jam will take place on June 14th and it is a linking event between the OuiShareFest and the Fab10 Annual Fab Lab Conference.

  The topic however will be announced on the third day of the OuiShare Fest and the results will be presented at Fab10.

  #### What is a FabJam?

  A single day event that brings together fabspaces (hackerspaces, designspaces, fablabs…) from all around the world for a short, action-packed creative workshop, or fabsprint.

  #### What is OuiShareFest?

  OuiShare Fest is the first major European event dedicated to the Collaborative Economy. It will take place in Paris on May 5-7th, 2014 and is organized by the non-profit and global community OuiShare.

  http://ouisharefest.com/

  #### What is Fab10 Barcelona?

  FAB10 is the tenth international conference and annual meeting of the Fab Lab network. FAB10 will gather the international Fab Lab community from more than 250 laboratories based in more than 40 countries, who share tools, projects, programs and processes in an open and collaborative philosophy. It will take place in Barcelona on Jully 2-8th, 2014

  https://www.fab10.org

  #### Why FabJam X OuiShareFest x Fab10?

  An opportunity to strengthen the Fab community and to bring together in the collaborative creative spirit.

  #### Who is FabJam’s one and only Powered by?

  The FabJam’s on and only powered by an organisation/association or a company who helps us to finance the work on the event. The event is all about the community so we want our powered by to really care.

  #### Can my company become a supporter?

  FabJam has only one main supporter – the powered by. But if your company is interested in digital fabrication and rapid prototyping or you have such a space in your company but you would like to be a part of the global Fab community, please consider buying the supporters tickets for your employees and find the the Supporters Hosting FabSpace next to you. The value of the supporter’s ticket is 500 euros per person and 60% of this sum goes to the FabSpace.

  #### What is required to become a FabJam hosting space?

  * Physical space for the duration of the jam to comfortably welcome participants (you can choose how many people can participate in your space)
  * Reliable Internet access (either wired or wireless) for all participants
  * Access to common hand and digital fabrication tools
  * Local IT support in case of problems with computers or internet connectivity
  * At least one local coordinator to coordinate the event *
  * At least one person to facilitate the workshop (animate). He can be the same as the local coordinator
  * Access to all space and computing resources around the clock over the FabJam day
  * Coffee and beverages & easy access to food

  \* The organizer will be in charge of all correspondence with the fabjam organising team.


  #### I am the site organizer, how do I register my location?

  Click on the “fabspaces” tab and fill out the form.

  #### How to become Supporters Hosting FabSpace?

  If you are interested in hosting participants coming from the world of the industry who would like to become a part of your FabJam team. Please select ‘We host supporters’ and choose the number of supporters you can host among your normal participants. Registration will be open soon.

  #### How do I sign up as a participant?

  You sign up on the site ( FabJam hosting space) or as an individual. Registration for jammers will be open soon.

  #### How will the topic be decided?

  Anybody can suggest a topic or vote for their favorite one. The topic will be selected with the participation of the FabJams one and only Powered by. We want the topic to be fun and creative.

  #### I don’t have a FabJam location near me!

  You are welcome to find a fabspace near you and to let them know about the event if there is still time or submit their name to us so we can contact them.

  #### Who owns the intellectual property of designs made during FabJam?

  The team/makers of the design hold all IP rights and decide under which licence they want to put their creation. However, we encourage licences that give space for other people to reproduce / modify / contribute such as CC BY.

  The FabJam may use the creations for demonstration in different events.

  #### Is there a cut-off date as to when we can join the FabJam as a participant?

  No, simply when the places near you are fully booked.

  #### How do the fabspaces inter-connect?

  We will be using Google Hangouts to present projects and discuss ideas throughout the day.

  #### Liability

  The FabJam is supposed to be fun and collaborative, with a goal to keep things very simple. We provide structure, guidance and help for all locations participating in the FabJam. As a rule, we expect that no team/makers of a design will illegally exploit others’ IP, and that in turn, everything created becomes part of the public domain. All participants agree that their participation in the FabJam will hold no one liable for any loss or damage.

  The FabJam reserves the right to refuse to allow anyone or any jam location to participate at any time for any reason or no reason at all. This includes after the jam has already started.

  #### Schedule

  mai 7th – the official FabJam launch during the OuiShare Fest

  june 14th – 10:00 am – 6.00pm (local time)  FabJam

  june 21 – MakerFaire Paris Fab Jam “first impresions’’

  july FAB10 – Global Fab Awards –  FabJam award – project presentation


  #### What will be happening on the 14th?

  We’re still working on the precise timetable, but basically:

  * fabspaces will be opening their doors around 10 for participants
  * the day will start with a brainstorming session where participants will exchange ideas and decide what to work on
  * the rest of the day will be dedicated to making awesome stuff!
  * we’ll organise online discussions all along the day for fabspaces to exchange together
  * at the end of the day, all participating fabspaces will meet up online for a discussion
  * What will happen to the projects?
  * We encourage projects to be shared with a licence enabling it to be reproduced / modified, etc. We will be asking each project to send us one or two pictures, a short description and a simple video. We will then edit a video of the all the projects. Projects will be nominated to the Global Fab Award in the FabJam category. Results will  be presentedt during the Fab10 in Barcelona
