%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li.current= link_to 'About', about_path

.row
  .columns.large-12
    %h1 About
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod