#map {
  background: #70B4E4;
  height: 500px;
  margin-bottom: 40px;
}

#geocomplete-map {
  width: 500px;
  height: 400px;
  img {
    min-width: none;
    max-width: none;
  }
}

#latest-labs {
  .register {
    padding: 10px;
  }
  a.button {
    margin-top: 20px;
  }
}

li.fab_space {
  table {
    font-size: 2em;
    td {
      font-size: 0.6em;
      line-height: 1em;
      padding-top: 4px;
      text-transform: uppercase !important;
    }
    td,th {
      padding-bottom: 10px;
    }
  }
  th {
    width: 40px;
  }
  th img {
    height: 31px;
    margin: 0;
  }
  table, tr, td, th {
    vertical-align: top;
    border: none;
    background: none !important;
    margin: 0;
    padding: 0;
  }
  td img {
    margin: 0;
    height: 100px;
    width: 100px;
  }
  table {
    // margin: 10px;
    width: 100%;
    border-collapse: none;
  }
  td.thumb {
    width: 100px;
  }
}