h1, h2, h3, h4, button, input[type=submit], header a, a.button {
  font-family: BebasNeue !important;
}

a.button, .register span {
  font-size: 20px;
}

.counts li {
  .inner {
    margin: 10px;
    padding: 20px 10px;
    font-size: 1.2em;
    a {
      color: #111;
      font-family: BebasNeue;
      text-transform: uppercase;
    }
  }
}

ul#slider li {
  min-height: 400px;
  height: 100%;
  display: block;
  * {
    color: #FFF;
    text-align: center;
  }
}

.orbit-bullets-container {
  margin-top: -40px !important;
}