%ul.breadcrumbs
  %li= link_to "Home", root_path
  %li.current= link_to 'Fab Spaces', fab_spaces_path

.row
  .columns.large-12
    .row
      .columns.large-6
        %h1 Fab Spaces
      .columns.large-6
        %ul.button-group{style: 'float: right; margin-top: 10px;'}
          %li= link_to "List View", fab_spaces_path, class: 'button'
          %li= link_to "Map View", map_fab_spaces_path, class: 'button'
